body, p, h3 {
  margin: 0;
}

.block {
  width: 80%;
  margin: 1.5rem auto;
  border: 2px solid grey;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 3rem 5rem;
  background-color: #f9f7aa;
}

h3 {
  padding-bottom: 2rem;
}

button {
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  border: 2px solid grey;
  border-radius: 0.5rem;
  font-size: large;
  background-color: white;
}

.active {
  background-color:#b8f1e8 ;
}

.text-center {
  text-align: center;
}

.text-right {
text-align: right;
} 


.active+.block>h3 {
  text-decoration: underline;
}

.active+.block>p {
  text-transform: uppercase;
}

.btn-submit {
  background-color: #8dca6b;
  color: white;
}